.account__order--history tr {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.account__order--history th,
.account__order--history td {
  flex-direction: row;
}
.account__order--history td {
  gap: 1.2rem;
}
